<div class="comments">
  <p><%= comment.user %> commented: </p>
  <p><%= comment.body %></p>
  <% if current_user.admin? %>
  <%= link_to "Delete Comment", admin_comment_path(comment), method: :delete, class: "edit-delete" %>
  <% end %>
</div>
