<div class="admin-recipe-view">
  <% if current_user.admin? %>
    <%= link_to "View Recipe Details", admin_recipe_path, class: "details-link" %>
<% end %>
</div>

<%= render partial: "layouts/recipe_layout" %>
