<h1><%= @recipe.name %></h1>

<div class="recipe_instructions">
  <%= @recipe.instructions %>
</div>

<div class="recipe_status">
  <%= @recipe.status %>
</div>

<%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete %>
