body {
  min-width: 450px;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  min-height: 100vh;
  a {text-decoration: none;
     color: #2b7887;
    &:hover {color: #8cccd8};
  }
}

header {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  h1 {margin: auto 20px;}
  img {
    height: 50px;
    width: 50px;
     }
}

nav {
  background-color: #40788e;
  color: white;
  a {
    color: white;
  }
  display: flex;
  width: 100vw;
  justify-content: space-between;
  .navlinks { margin-left: 20px;}
  .access-link { margin-right: 20px;}
}

section {
  width: 100vw;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
