.recipe-layout {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  aside {
    width: 200px;
    border-left: 3px #40788e solid;
    p { text-align: center;}
  }
}

.recipe {
  margin-left: 30px;
}

.recipe-categories {
  width: 200px;
  min-height: 90vh;
  background-color:#c8eaf7;
  a {padding: 10px;
     &:hover {color: #2b7887}}
  .recipe-category:hover {background-color: #def0f7;}
}
