.user-prof-pic {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-top: 10px;
  .new-image {
    display: none;
  }
  &:hover .new-image {
    display: flex;
    align-content: center;
    position: relative;
    bottom: 70px;
  }
}
